.logonav {
  margin-top: 5px;
  z-index: 1;
  width: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  color: #fff;
  display: inline-block;
  padding: 0;
}
a {
  text-decoration: none;

  font-family: "Oswald", sans-serif;

  font-size: 20px;
}
.nav a.icon {
  background-color: #212121;

  display: block;

  position: absolute;

  right: 0;

  top: 0;
}
.nav a {
  padding: 14px 16px;

  text-decoration: none;

  display: block;

  font-size: 20px;

  color: white;

  text-align: center;
}
@media only screen and (max-width:1233px){
  .logonav {
    margin-top: 5px;
    z-index: 1;
    width: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    color: #fff;
    display: inline-block;
    padding: 0;
  }
}